:root {
      max-width: 1280px;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
}

@font-face {
  font-family: 'localFont KaitiM GB';
  src: url('/src/assets/fonts/157c7e79f7f057bbeacf5f113b964875.woff2') format('woff2'),
    url('/src/assets/fonts/157c7e79f7f057bbeacf5f113b964875.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}