:root {
    font-family: 'Raleway', sans-serif;
      display: flex;
      flex-direction: column;
      max-width: 1280px;
      align-items: center;
      justify-content: center;
      height: 90vh;
      margin: 0 auto;
}